<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  
    <a href="/" class="navbar-brand">Cricbuzz</a>  <!-- Brand/logo -->
   
     <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li  class="nav-item">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li  class="nav-item">
          <a routerLink="/player-details" class="nav-link">Login/sign up</a>
        </li>
        <li  class="nav-item">
          <a routerLink="/upcoming-matches" class="nav-link">Forgot Password</a>
        </li>
        <li  class="nav-item">
          <a routerLink="/news" class="nav-link">Wallet Passcode</a>
        </li>
        <li  class="nav-item">
          <a routerLink="/videos" class="nav-link">Reload wallet</a>
        </li>
        <li  class="nav-item">
          <a routerLink="/videos" class="nav-link">laptop</a>
        </li>
        
        
        <li  class="nav-item">
          <a routerLink="/about-us" class="nav-link">About us </a>
        </li>
      </ul>
 

</nav>
